<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/usuarios/create" method="POST">
        Nome: <input type="text" name="nome"><br/>
        E-mail: <input type="email" name="email"><br/>
        Senha: <input type="text" name="senha"><br/>
        Confirmar senha: <input type="text" name="csenha"><br/>
        <input type="submit" name="Cadastrar">
        <input type="reset" name="Limpar">
      </form>
</body>
</html>